body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
}


nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    border: none;
    margin: 0px;
}

li, li a{ 
    color: #013C5C;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}


li a:hover, a:visited, a:active{
    color: #013C5C;
    text-decoration: none;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.entry{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    align-self: center;
}

#notice{
    visibility: hidden;
    color: #013C5C;
    padding:10px;
}


.login{
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    /*box-shadow: 2px 2px 8px #e5e5e5;    */
    border-radius: 5px;
    padding: 20px;
    width: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

input[type="text"], input[type="password"]{
    margin: 10px;
    padding: 12px 22px;
    border: 1px solid #dfe1e5;
    border-radius: 18px;
    height: 36px;
    width: 240px;
}

.login input[type="text"], .login input[type="password"]{
    height: 40px;
    width: 300px;
}


#signup input[type="text"], #signup input[type="password"]{
    height: 40px;
    width: 400px;
}



input[type="text"]:hover, form input[type="password"]:hover{
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px #bbbbbb;
    transition: all .35s ease;
}

.radio-btn{
    display: flex;
    margin-top: 10px;
    padding: 0 30px;
    justify-content: space-around;s
}

label {
    font-weight: normal !important;
}


.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"], .new-account-button{
    background-color: #091527;
    border: 1px solid #091527;  
    border-radius: 4px;
    color: white;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    width: 235px;
    align-self: center;

}

.login input[type="submit"]{
    width: 290px;
}

input[type="submit"]:hover, .new-account-button:hover, .transaction-buttons button:hover{
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background-color: #688298;
      border: 1px solid #688298;
      color: white;
      transition: all .35s ease;
}

input:focus{
    outline: none;
}
/* Adds style to input placeholder */
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder{
    color: #bbbbbb;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder{
    color: #bbbbbb;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder{
    color: #bbbbbb;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder{
    color: #bbbbbb;
}

/* Removes the autocomplete background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

/*SIGN UP MODAL*/
/*The Sign Up Button*/
.signupquestion{
    color:gray;
}

#signupoption{
    color:#013C5C;
}

#signupoption:hover,
#signupoption:focus {
  color: #688298;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modalSignUp{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.229); /* Black w/ opacity */
}

/* The Modal (background) */
.transactionModalContainer{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.55); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalSignUpContent, .transaction-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/*Sign Up Widget*/
.signup, .transactionModal{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px 20px 0px 20px;
    padding: 5px 20px 20px 20px;;
}


.signup{
    width: 500px;
}

.transactionModal{
    box-shadow: 1px 1px 8px #bbbbbb;   
    width: 300px;
 
}

/* The Close Button */
.closeSignUp, 
.closeNewAccount,
.closeTransaction {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    color: #bbbbbb;
    font-size: 20px;
    font-weight: bold;
  }
  
  .closeSignUp:hover,
  .closeSignUp:focus,
  .closeNewAccount:hover,
  .closeNewAccount:focus,
  .closeTransaction:hover,
  .closeTransaction:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease;
  }


/*CUSTOMER WIDGET*/
.container{
    display: none;
}

.customer-container{
    display: flex;
    flex-direction: column;
}

.customer-name-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background: #013C5C;
}

.customer-name-bar .nav{
    display: flex;
}

.customer-name-bar .nav div{
    margin-right: 10px;
}




.customer-name-bar a{
    color:#c4dbe7;
}


.customer-name-bar a:hover{
    color:white;
}


.customer-info{
    border: 1px solid transparent;
    padding: 10px;
    min-height: 100vh;
    background: #f2f8ff;
    border-radius: 4px;
}

.customer-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.customer-details{
    margin: 20px auto;
}

.accounts-section{
    display: flex;
    flex-direction: column;
    width: 300px;
}


.customer-table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px dashed #bbbbbb;
}

.customer-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.customer-inner-row{
    display: flex;
}

.customer-inner-row div{
    margin-right: 20px;
}


.customer-title{
    color: #688298;
    font-size: 12px;
}


.customer-data{
    color:#091527;
}

/*ACCOUNTS SECTION*/

.accounts-counter, .transactions-counter, .customer-profile-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#091527;
    font-size: 16px;
    font-weight: bold;
}

.account-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px #c4dbe7;    
    border-radius: 5px;
    background: white;
}

.account-card:hover{
    box-shadow: 2px 2px 8px #c4dbe7;    
    transition: all 0.8 ease;
}

.account-details{
    display: flex;
    flex-direction: row;
}

.account-card-column:nth-child(2){
    padding-left: 10px;
}

.account-card-column:nth-child(1){
    padding-right: 10px;
    color:#bbbbbb;

}

.account-card-column:last-child{
    margin: auto;
}

.account-type{
    font-weight: bold;
    color: #013C5C;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}


.account-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
}

.view, .remove{
    border-radius: 4px;
    color: #688298;
    text-align: center;
    width: 150px;
    border: 1px solid white;  
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.view:hover, .remove:hover {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;  
}

button:focus { 
    outline:0 !important;
}


/*TRANSACTIONS SECTION*/
.account-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20 0px 20px;
}


.account-info{
    display: flex;
    flex-direction: column;
    width:812;
    min-height: 100vh;
    border-right: 1px solid #c4dbe7;
    background-image: linear-gradient(#c4dbe7,white 40%);

}


.account-information{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.account-information div{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.account-info-title{
    display: flex;
    flex-direction: flex-start;
    font-size: 12px;
    color: #688298;
}


.transactions-counter{
    padding: 15px;
}


.transactions-details{
    border: 1px solid #f2f8ff;
    border-radius: 4px;
    margin: 0 20px 0 20px;
}

.transaction-row, .transaction-header{
    display: flex;
    font-size: 11px;
    padding:10px;
    flex-wrap: nowrap;
}

.transaction-row:nth-child(even) {
    background: #f2f8ff;
}

.transaction-row div, .transaction-header div{
    width: 100px;
}

.transaction-row div:first-child, 
.transaction-header div:first-child{
    width: 200px;
}



.transaction-row div:nth-child(2),
.transaction-header div:nth-child(2){
    width: 250px;
}

.transaction-row:last-child{
    border-radius: 0px 0px 4px 4px;

}

.transaction-header{
    background: #013C5C;
    color: white;
    font-size: 11px;
    border-radius: 4px 4px 0 0;
}

.transaction-row:hover{
    background: #fffdd1;
}

/*TRANSACTION-BUTTONS*/
.transaction-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.transaction-buttons button{ 
	background:linear-gradient(to bottom, #FFA500 5%, #FF8C00 100%);
    background-color:#FFA500;
    border: 1px solid #FFA500;
    border-radius: 4px;
    color: white;
    margin: 11px 4px;
    padding: 0 16px;
    height: 30px;
    width: 100px;
    text-align: center;
    align-self: center;
}

.transaction-buttons button:hover{
    background:linear-gradient(to bottom, #FF8C00 5%, #FFA500 100%);
    background-color:#FF8C00;
    border: 1px solid #FF8C00;
}